// global styles in communication
.discussion-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ccc;
  padding-bottom: 8px;
  .discussion-card-icon {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
  }
  .discussion-card-header {
    padding-left: 10px;
    .heading {
      font-size: 18px;
      font-weight: 600;
      color: #212121;
    }
    .description {
      font-size: 14px;
      font-weight: 500;
    }
    &:hover {
      .heading {
        color: #1089ff;
      }
    }
  }
  .discussion-card-edit-options {
    flex-shrink: 0;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #666;
    .item {
      &.left {
        margin-left: auto;
        margin-right: 10px;
      }
    }
  }
}

.thread-card {
  padding: 10px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  border: 1px solid #00000020;
  border-radius: 4px;
  overflow: hidden;
  .thread-card-header {
    .heading {
      font-size: 18px;
      font-weight: 600;
      color: #212121;
      &:hover {
        color: #1089ff;
      }
    }
  }

  .thread-card-edit-options {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    .item {
      &.left {
        margin-left: auto;
        margin-right: 10px;
      }
    }
  }
}
.channel-thread-card {
  border: 1px solid #00000020;
  border-radius: 4px;
  border-top: none;
  margin-left: 50px;
}

.channel-thread-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10px;
  & .icon {
    a {
      color: #888;
      &:hover {
        color: #212121;
      }
    }
  }
  & .heading {
    margin-left: 15px;
    font-size: 20px !important;
    font-weight: 600;
  }
  &.comment {
    padding: 5px 10px 10px 10px;
  }
}

// channels
.channel-root-wrapper {
  padding: 10px 20px;

  &.flex-container {
    padding: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    .channel-top-bar {
      padding: 10px;
      width: 100%;
      height: 100%;
      border-bottom: 1px solid #ccc;
      overflow: hidden;
      overflow-y: auto;
    }
    .channel-bottom-bar {
      width: 100%;
      min-height: 100px;
      max-height: 400px;
      flex-shrink: 0;
    }
  }
}

// comment section
.comment-root-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  .comment-detail-wrapper {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    overflow-y: auto;
    .comment-user-wrapper {
      padding: 5px 10px 5px;
      .user-header {
        display: flex;
        overflow: hidden;
        flex-direction: row;
        .icon {
          flex-shrink: 0;
          width: 30px;
          height: 30px;
          border-radius: 50px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .title {
          font-size: 14px;
          font-weight: 500;
          padding-left: 10px;
          text-transform: capitalize;
          width: 100%;
          .date {
            font-size: 12px;
            color: #ccc;
          }
          .user-content {
            padding-top: 5px;
          }
        }
      }
    }
  }
  .comment-create-wrapper {
    width: 100%;
    min-height: 100px;
    max-height: 400px;
    flex-shrink: 0;
  }
}

.slate-editor-wrapper {
  &.create {
    padding: 4px 8px;
  }
  .left {
  }
  .right {
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    &.comment {
      div:first-child {
        margin-right: 10px;
        button {
          background-color: transparent !important;
          font-size: 14px !important;
          font-weight: 500;
          color: #555;
          box-shadow: none;
          outline: none;
          &:hover {
            color: #212121;
          }
        }
      }
    }
  }
}
