// global tree view
// resource home cards
.resource-home-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 12px;
  margin-bottom: 7px;
  .resource-title {
    font-size: 16px;
    font-weight: 600;
    a {
      cursor: pointer;
      color: #333;
      &:hover {
        color: #777;
      }
    }
  }
  & .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    .flex-item {
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      margin: 0px 3px;
      border-radius: 4px;
      overflow: hidden;
      color: #666;
      &:first-child {
        margin-left: 0px;
      }
      &:last-child {
        margin-right: 0px;
      }
      svg {
        width: 16px;
        height: 16px;
      }
    }
    .delete {
      cursor: pointer;
    }
    .title {
      display: block;
      width: 100%;
      height: 100%;
      flex-shrink: 1;
    }
  }
}

// resource tree view
.resource-tree-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 7px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  & .children {
    border-radius: 0px;
    margin: 0px;
    border: 1px solid #eee;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
  & .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 12px;
    .flex-item {
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      margin: 0px 3px;
      border-radius: 4px;
      overflow: hidden;
      color: #666;
      padding: 10px 0px;
      &:first-child {
        margin-left: 0px;
      }
      &:last-child {
        margin-right: 0px;
      }
      svg {
        width: 16px;
        height: 16px;
      }
      &:hover {
        background-color: #f5f5f5;
        color: #212121;
      }
    }
    .dropdown,
    .checkbox,
    .plus,
    .edit,
    .upload,
    .folder-add,
    .delete {
      cursor: pointer;
    }
    .disabled {
      background-color: #f5f5f5;
      cursor: not-allowed;
    }
    .title {
      display: block;
      width: 100%;
      height: 100%;
      flex-shrink: 1;
      font-size: 14px;
      font-weight: 600;
      color: #333;
      &:hover {
        background-color: transparent;
      }
    }
    .plus {
      margin-left: auto;
    }
  }
}

.resource-tree-create-button {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: #f5f5f5 !important;
  &:hover {
    background-color: #999 !important;
  }
}

// admin user resources
.user-resource-detail {
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  overflow: hidden;
  margin: 6px 0px;
  .user-resource-header {
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 10px;
    .title {
      font-weight: 500;
      font-size: 14px;
      width: 100%;
    }
    .toggle {
      flex-shrink: 0;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:hover {
        background-color: #f5f5f5;
        border-radius: 4px;
        overflow: hidden;
      }
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  .search-container {
    margin: 6px 10px;
    border: 1px solid #e7e7e7;
    .user-resource-search-container {
      padding: 6px 10px;
      & input {
        box-shadow: none !important;
        outline: none !important;
      }
    }
    .resource-dropdown-clear {
      padding: 4px 10px;
      text-align: right;
      font-weight: 500;
      small {
        cursor: pointer;
      }
    }
    .resource-dropdown-list-container {
      margin: 6px 10px;
      border: 1px solid #e7e7e7;
      overflow-y: auto;
      min-height: 0px;
      max-height: 200px;
      .resource-dropdown-list-item {
        padding: 6px 20px;
        border-bottom: 1px solid #e7e7e7;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        &:hover {
          background-color: #eee;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
  .user-resource-content-list-view {
    margin: 4px 10px;
    padding: 6px 10px;
    background-color: #f5f5f5;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    & .text {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
    & .icon {
      flex-shrink: 0;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin-left: auto;
      &:hover {
        background-color: #eee;
        border-radius: 4px;
        overflow: hidden;
      }
      svg {
        width: 12px;
        height: 12px;
      }
    }
  }
}
