$primary-color: #0052cc;
$primary-dark-color: #0747a6;
$light-primary-color: #0052cc1a;

$gray-color: #7c7c7c;
$light-gray-color: #dfe1e6;
// $light-gray-color: #f2f2f2;

$dark-text: #172b4d;
$light-text: #6b778c;
