.auth-lef-bg {
  background-image: url("https://raw.githubusercontent.com/caravel/image-assets/master/tutela/auth-bg.png?token=AD4NMVGEUHXRQ6HPWTJTH4K75Z4BI");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
